<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li class="active dropdown dropdown-big">
                    <a ng-href="http://www.apside.fr/" target="_blank">
                        <img src="images/Apside.png" class="img-responsive" alt="APSIDE"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
