<div>
    <div class="widget-icons pull-right"></div>
    <i class="fa fa-search"></i>
    <input type="search" placeholder="{{subtitle}}" name="the_search">
    <div>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jean</td>
                    <td>Bon</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div>