<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="blightblue">
                            <div class="pull-left"><i class="fa fa-user"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">{{vm.todayDate}}</span> Nous gérons vos compétences !
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-user-plus"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">Ajouter une personne</span>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                    </ul>
                </div>
            </div>
 
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wblue">
                        <div ht-widget-header 
                             title="{{vm.search.title}}"
                             allow-collapse="true"></div>
                        <div ht-widget-content-search 
                             subtitle="{{vm.search.subtitle}}"
                             class="widget-content">
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wviolet">
                        <div ht-widget-header
                             title="Liste des personnes"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Prénom</th>
                                        <th>Nom</th>
                                        <th>Age</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in vm.people">
                                        <td>{{p.firstName}}</td>
                                        <td>{{p.lastName}}</td>
                                        <td>{{p.age}}</td>
                                        <td>{{p.location}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>